# Entornos virtuales
venv/
.env/
.venv/

# Archivos de configuración locales
*.env
*.local
*.secret

# Bytecode de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de testing y cobertura
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log

# Distribución y empaquetado
build/
dist/
*.egg-info/
.eggs/

# Archivos de notebooks
.ipynb_checkpoints/

# Archivos de IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos del sistema operativo
.DS_Store
Thumbs.db
